
<div class="login-box">
  <form method ="POST" action="/login">
<div class="form-group">
  <label for="email">Email address</label>
  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted">your email is safe in our hands</small>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
</div>
<a href="teas/index"><button type="submit" class="btn btn-primary">Submit</button></a>
<a href="/register">Not a member, register</a>
</form>
</div>
