<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>RESTful App</title>
    <% include ./partials/_stylesheet %>
    <% include ./partials/_scripts.ejs %>
</head>
<body <% if (locals.page) { %>class="<%= locals.page %>" <% } %>>
  <% include ./partials/_navbar %>
  <% for(const type in messages) { %>
    <div class="alert alert-info" role="alert">
      <strong><%= messages[type] %></strong>
    </div>
  <% } %>
  <div class="container">
    <%- body %>
  </div>
  <div class="container">
      <section style="height:80px;"></section>
  
</body>
</html>
