
* {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Libre Baskerville', serif;
}


body {
  text-decoration: none;
  // margin: 25px;
  color: white;

}

div.navstyle{
  text-align: center;
  list-style: none;
}

nav{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-bottom: 30px;
}


a.nav-link{
  text-align: center;
  margin:5px  70px 5px 70px;

}
div.login-image{

 background-image: url(../src/images/login-photo.jpg);
 background-image: cover;
 background-repeat: no-repeat;
 height: 100vh;

}


.all-element-nav{

  margin: 5px 400px;

}

img {
  height:auto;
  max-width: 100%;
   border-radius: 25px;
}

body {
  &.register, &.login {
    background-image: url(../images/login-photo.jpg);
    background-position: center top;
    background-size: cover;
    .navbar-light .navbar-nav .nav-link {
      color: white;
    }
    form {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 30px;
      color: white;
      box-shadow: 0 0 10px rgba(7,0,154,0.8);
      button {
        width: 100%;
        background-color: rgb(251, 219, 33);
        outline-color: rgb(251, 219, 33);
      }

    }
  }
}

.background-form-register{
background-color: 0, 0, 0, 0.8,


}

body.register{
  form{
      margin-top: -15px;
  }
}

body.login{
  form{
      margin-top: 100px;
  }
}
body{
  &.teas{
      background-image: url(../images/misterytea.jpg);
      background-position: center top;
      background-image: 100%;
      background-size: cover;
      .navbar-light .navbar-nav .nav-link {
        color: white;
  }form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    color: white;
    margin-top: 150px;
    box-shadow: 0 0 10px rgba(7,0,154,0.8);


    button {
      width: 100%;
      background-color: rgb(251, 219, 33);
      outline-color: rgb(251, 219, 33);
    }
    div.blackbox{
      background-color: black;
    }
  }
}
}

body{
  &.post{
      background-image: url(../images/teaside.jpeg);
      background-position: center top;
      background-image: 100%;
      background-size: cover;
      .navbar-light .navbar-nav .nav-link {
        color: white;
        text-align:right;

  }img{
    align-items: flex-end;
    width:500px;
    float:left;
    margin: 25px;
  } p{
margin: 25px;
color: rgb(251, 219, 33);
font-weight: bold;
font-size: 20px;

  }
}
}

body{
  &.index{
      background-image: url(../images/ink.jpg);
      background-position: center top;
      background-image: 50%;
      background-size: cover;
      .navbar-light .navbar-nav .nav-link {
        color: white;
        text-align:right;

  }p{
margin: 25px;
color: white;
font-weight: bold;
font-size: 20px;

  }h2{
    margin-left: 15px;
    margin-top: 20px;
  }div.col-md-4{
    background-color:rgba(0, 0, 0, 0.5);
  }div{
    .col-4{
      background-color:rgba(0, 0, 0, 0.5);

    }div.col-8{
      background-color:rgba(0, 0, 0, 0.5);
    }
  }
}
}
